.attribution { font-size: 11px; text-align: center;position:fixed;
bottom:0; left:50%;transform: translateX(-50%);}
.attribution a { color: hsl(228, 45%, 44%); }


html{
    margin: auto;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #D5E1EF;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    min-height: 100vfh;
    margin-top:75px;
   
    
}

.card-body{
    
    top:30%;
    height:550px;
    width:350px;
    flex-wrap: wrap;
    background-color:hsl(0, 0%, 100%);
    margin: auto;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    border-radius:15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
    
  
}

.txt{
    padding-left: 30px;
    padding-right:30px;
    
    
}

.qr{
    
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
    
}

@media only screen and (min-width: 400px){
    
}